.stepsItem {
  @apply
  tw-mx-auto
  tw-flex
  tw-items-center
  tw-w-[88%]
  tw-opacity-0
  tw-translate-y-[-100px]

  tw-transition-all
  tw-duration-[250ms]

  md:tw-mt-8
  md:tw-w-[unset]

  sm:tw-flex-col
}

.stepsItem:before {
  background-position: 50%;

  @apply
  tw-content-['']
  tw-mr-6
  tw-p-[36px]
  tw-rounded-[36px]
  tw-bg-no-repeat
  tw-bg-background
  tw-min-w-[120px]
  tw-min-h-[120px]
  tw-max-w-[120px]
  tw-max-h-[120px]

  sm:tw-mr-0
}

.stepsItem:not(:first-of-type) {
  @apply
  tw-mt-14
}

.stepsItem:nth-child(1) {
  @apply
  tw-delay-100
}

.stepsItem:nth-child(1):before {
  animation-delay: 200ms;
}

.stepsItem:nth-child(2) {
  @apply
  tw-delay-200
}

.stepsItem:nth-child(2):before {
  animation-delay: 300ms;
}

.stepsItem:nth-child(3) {
  @apply
  tw-delay-300
}

.stepsItem:nth-child(3):before {
  animation-delay: 400ms;
}

.stepsItem:nth-child(4) {
  @apply
  tw-mt-14
  tw-delay-[400ms]
}

.stepsItem:nth-child(4):before {
  animation-delay: 500ms;
}

.stepsItemContent {
  @apply

  md:tw-mt-8
  md:tw-min-w-[392px]
}

.stepsItemHeadline {
  @apply
  tw-font-bold
  tw-text-2xl
  tw-leading-[36px]
  tw-text-text-primary

  sm:tw-text-center
}

.stepsItemList {
  @apply
  tw-mt-4
  tw-list-none
}

.stepsItemListItem {
  @apply
  tw-text-base
  tw-leading-[36px]
  tw-text-text-grey
  tw-flex
}

.stepsItemListItem:before {
  @apply
  tw-content-['']
  tw-mt-4
  tw-mr-4
  tw-w-[19px]
  tw-h-[5px]
  tw-rounded-[5px]
}

@screen sm {
  .stepsItemContent {
    @apply
    sm:tw-min-w-[260px]
  }
}
