.yearMonthPickerButton {
  @apply
  tw-h-8
  tw-w-[25%]
  tw-rounded-lg
  tw-flex
  tw-items-center
  tw-justify-center
  tw-text-text-primary
  tw-text-[0.8rem]

  hover:tw-bg-primary-contrast-text-medium
  hover:tw-text-primary

  disabled:tw-text-border
  disabled:hover:tw-bg-transparent
}

.yearMonthPickerButtonSelected {
  @apply
  tw-text-primary
  tw-bg-primary-contrast-text-dark

  hover:tw-bg-primary-contrast-text-dark
}

.yearMonthPickerButtonCurrent {
  @apply
  tw-border-primary
  tw-border-[1px]
  tw-text-primary
  tw-font-bold

  disabled:tw-font-normal
  disabled:tw-border-transparent
}

.yearMonthPickerButtonInRange {
  @apply
  tw-text-primary
}
