.checkbox {
  @apply
  tw-w-6
  tw-h-6
  tw-rounded
  tw-border-[1px]
  tw-border-border
  tw-flex
  tw-justify-center
  tw-items-center
  tw-text-text-secondary

  tw-transition-colors
  tw-duration-[350ms]
}

.checkboxChecked {
  @apply
  tw-border-primary
  tw-bg-primary
  tw-text-text-primary

  hover:tw-border-primary
  group-hover:tw-border-primary

  disabled:hover:tw-border-primary
  disabled:group-hover:tw-border-primary
}

.checkboxIcon {
  @apply
  tw-w-[60%]
}
